#root {
  width: 100%;
  margin: 1rem 0 0 0;
  padding: 3rem 0 0 0;
  text-align: center;
}
.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: transparent;
  box-shadow: none;
}
.accordion-button:focus {
  box-shadow: none;
  outline: none;
}
.accordion-collapse,
.accordion-collapse.collapsing {
  transition: none !important;
}

/* 기본: 선택되지 않은 상태 (회색 배경) */
.gender-label {
  background-color: #e9ecef; /* 밝은 회색 */
  color: #6c757d; /* 회색 텍스트 */
  border: 1px solid #ced4da;
  transition: all 0.2s ease-in-out;
}

.btn-check:checked + .gender-label {
  background-color: #473cd3;
  color: white;
  border-color: #473cd3;
}

 .skill-pill {
   display: inline-block;
   min-width: 80px;
   text-align: center;
   padding: 0.5rem 1rem;
   border-radius: 50rem;
   font-weight: 600;
   font-size: 0.9rem;
   background-color: #d1e7dd;
   color: #0f5132;
 }

 .skill-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 0.5rem;
 }



.list-group-item.active {
    background-color: #198754 !important;
    color: #fff !important;
 }

input::placeholder {
  font-weight: 450;
}
.btn.dropdown-toggle:hover,
.btn.dropdown-toggle:focus,
.btn.dropdown-toggle:active {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  color: inherit !important;
}

.table tbody tr td {
  border-bottom: none !important;
}
table tr td {
  font-size: 0.85rem;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3csvg fill='grey' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M4.5 1.5l6 6-6 6' stroke='grey' stroke-width='2' fill='none'/%3e%3c/svg%3e");
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3csvg fill='grey' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M11.5 1.5l-6 6 6 6' stroke='grey' stroke-width='2' fill='none'/%3e%3c/svg%3e");
}

.bg-primary {
  background-color: #473cd3 !important;
}

.btn-primary {
  background-color: #473cd3 !important;
  border-color: #473cd3 !important;
  color: #fff !important;
}

.text-primary {
  color: #473cd3 !important;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #3c34ba !important;
  border-color: #3c34ba !important;
  color: #fff !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
